<%= form_for :number,:url=> {:action =>"create"} do |f| %>
<%=f.label :number_of_code%>
<%=f.select(:number_of_code,[1,10,20,30,40,50],:selected=>10)%>
<%= f.submit "generate code" %>
<% end %>


<h3>List of SecretCodes</h3>
<%@secret_codes.each do|sc|%>
   <%unless sc.user_id==nil%>
  	 	SecretCode  :<%=sc.secret_code%></br>
		User Email  :<%=sc.user.email%></br>
   <%end%>
<% end %>